html {
    height: auto !important;
    padding-bottom: 700px !important;
}

body {
    background-color: #a3c9cc;
    font-family: 'Courier New', Courier, monospace;
}

header {
    font-size: 28px;
}

header h1 {
    margin-bottom: 5px;
}

nav {
    font-size: 20px;
}

hr {
    width: 90%;
}

h1 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:hover {
    color: whitesmoke;
}

nav label {
    margin-left: 10px;
    margin-right: 10px;
}

.basic_border {
    border: 2px black solid;
    border-radius: 10px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.container {
    position: relative;
    margin: auto;
    width: 90%;
    min-width: 800px;
}

.flex_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    position: relative;
    float: right;
    margin-right: 15%;
    width: 65%;
}

aside {
    position: fixed;
    width: 14%;
    max-width: 200px;
    min-width: 150px;
    left: 10;
    float: left;
    margin-right: 80%;

    border: 2px black solid;
    border-radius: 10px;

    background-color: #ccaea3;

    text-align: center;
}

aside button {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    background: none;
    border: none;
    padding-bottom: 10px;
}

aside button:hover {
    color: whitesmoke;
}

/* Boilerplate styling credit: w3schools */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #a3c9cc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #a3c9cc transparent transparent transparent;
  }
  
/* End credited styling */

.paragraph_text {
    text-align: justify;
}

.site_header {
    text-align: center;
    width: 100%;
}

.site_info {
    background-color: #ccaea3;
    width: 100%;
}

.about_me {
    position: relative;
    background-color: #ccaea3;
    width: 100%;

    overflow: hidden;
}

.profile_pic {
    position: relative;
    float: left;
    width: 15%;

    padding-bottom: 10px;
}

.profile_pic img {
    max-width: 100%;
}

.bio {
    position: relative;
    float: right;
    width: 80%;
    
}

.skills {
    background-color: #ccaea3;
    width: 100%;

    overflow: hidden;
}

.languages_list {
    position: relative;
    float: left;
    width: 50%;

    padding-bottom: 10px;
}

.languages_list h4 {
    margin-bottom: 0;
    font-weight: bold;
}

.languages_list p {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.course_list {
    position: relative;
    float: right;
    width: 50%;
}

.work_experience {
    background-color: #ccaea3;
    width: 100%;
}

.job em {
    font-weight: bold;
}

.job p {
    padding-left: 10px;
}


/*PROJECT PAGE STYLING*/

.project_card {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;

    background-color: #ccaea3;

    min-width: 600px;
    max-width: 800px;
    max-height: 800px;

    /* overflow: hidden; */
    position: relative;
}

.project_card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px 10px #696462;
}

.project_card_element {
    margin: 0;
    position: relative;
    width: 47.5%;
    top: 50%;
    left: 50%;
    transform: translate(-105%, -60%);
}

.project_card_left {
    float: left;
    margin: auto;
}

.project_card_left img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
} 

.project_card_right {
    float: right;
}

.project_card_bottom {
    width: 80%;
    margin: auto;
}
